@import url('https://fonts.googleapis.com/css?family=Oswald:300,600');


body{
    font-family: 'Oswal', sans-serif;
    font-weight: 300;

    display: grid;
    grid-template-columns: [page-start] 1fr [content-start] 80vw [content-end] 1fr [page-end];
    grid-template-rows:[hero-start] 60vh [info-start] 5em [hero-end] 5em [info-end] auto [content-bottom];
}

.title{
    color:white;
    font-size: 3.5rem;
}

.title span{
    font-weight: 300;
    display:block;    
}

.small-title{
    font-size:1rem;
    text-transform: uppercase;
}

.section-one{
    background: url('/img/background.jpg');
    background-color:rgb(119, 119, 119);
    background-blend-mode: overlay;
    background-size: cover;
    text-align: center;

    grid-column: page-start / page-end;
    grid-row:hero-start / hero-end;

    display: flex;
    justify-content: center;
    align-items: center;
    
}

.section-two{
    background:rgb(241, 182, 215); 
    text-align: center;   

    display:flex;
    justify-content: space-around;
    align-items: center;
    
    grid-column: content-start / content-end;
    grid-row: info-start / info-end;
    z-index: 10;
    border-radius: 10px;
    opacity: .8;
}


.section-three{
    background:rgb(21, 5, 29);
    grid-column:page-start / page-end;
    grid-row: hero-end / bottom;
    padding: 150px 0;

    display: grid;
    grid-template-columns: inherit;
    
}


.container{
    background:rgb(177, 176, 248);
    grid-column: content-start / content-end;
    border-radius: 10px;  
    padding:1em;
}